$text-color: #111827;               

$reg-button-background-color: #000000;       
$reg-hover-button-background-color: #000000; 
$reg-active-button-background-color: #000000; 
$registration-label-color: #1e40af;          


$header-bg-color: #f9fafb;                   
$header-logo-color: #2563eb;             
$header-gray-color: #6b7280;                
$header-hover-user-color: #e0e7ff;        
$header-hover-button-color: #f3f4f6;         
$header-dropdown-border-color: #e5e7eb;   
$accent-text-color: #2563eb;            
$vc-main-border-color: #f3f4f6;            

$api-button-green: #059669;                  
$api-button-red: #dc2626;                    

$container-width: 1000px;